
prefetch_bytes = 1000000;

staging_dir = "~/.jjfs/stage/";

# Name of this mountpoint
serv1 = {
  # Address of this server
  server = "192.168.2.200";
  # Port to connect to
  port = 22;
  # User to connect as
  user = "joakim";
  # Top dir on the server. This _must_ be an absolute path, as I can't be arsed
  # to find the value of $HOME on the remote machine.
  top_dir = "/home/joakim/jjfs-test";
  # Cache file, default is '~/.jjfs/<name>-cache'
  cache_file = "~/.jjfs/movies-cache";
  # Default mountpint, can be overridden when mounting. If none is given,
  # it defaults to "~/<name>", so this for example would have been
  # "~/serv1" hadn't it been for the line below.
  mountpoint = "~/smovies";};
# You can have more mountpoints
serv2 = {
  # This is a minimal config, cache file and mountpoint will be set
  # according to 'name'.
  server = "jockej.mooo.com";
  port = 20022;
  user = "joakim";
  top_dir = "/home/joakim/jjfs-test";
};
